name: Build and Test App with GhA

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hubs
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

        
      - name: Build the Docker image
        run: docker build -t denerd1/flask-app-gh-actions:latest .

      - name: Push the Docker image
        run: docker push krons/my_apps/flask-app-gh-actions:latest

